<span class="burst">
  <span class="emoji">{{ icon }}</span>
  @if (isSurprise) {
    <span class="surprise-particles">
      @for (particle of particles; track particle) {
        <i class="surprise-particle" [style.--angle]="(particle / particles.length * 360) + 'deg'"></i>
      }
    </span>
    @if (roll !== null) {
      <span class="surprise-outcome">{{ outcomeText }}</span>
    }
  }
  @if (isBuy) {
    <span class="buy-cards">
      @for (buyCard of buyCards; track buyCard) {
        <img
          class="buy-card"
          src="assets/cards/reverso.png"
          alt=""
          [style.--buy-x]="((buyCard - (buyCards.length - 1) / 2) * (50 + power * 10)) + 'px'"
          [style.--buy-y]="(-65 - power * 12) + 'px'"
          [style.--buy-angle]="((buyCard - (buyCards.length - 1) / 2) * 22) + 'deg'"
        />
      }
    </span>
    <span class="buy-outcome">{{ buyOutcomeText }}</span>
  }
</span>
